@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

.Font-Bodoni {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */